
<div class="d-flex"> 
  
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <!-- End Sidebar -->
  
  <div class="container">

    <!-- Search -->
    <div class="row p-3">
      <div class="col">
        <h5>
          <input type="text" class="form-control" placeholder="Search gifs..">
        </h5>
      </div>
    </div>

    <hr />

    <div class="row">
      <div class="col">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis nobis vel libero nam, unde nesciunt ipsa labore sed? Deleniti autem, excepturi ullam quasi voluptatibus placeat tempora ducimus nemo maiores suscipit.
      </div>
    </div>

  </div>

</div>